/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require foundation
*= require normalize
*= require font-awesome
*= require_self
*/
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

.panel {
    margin-top: 1em;
}

.ribbon-warper {
    position: absolute;
    z-index: 1;
    margin-left: -23px !important;
    margin-top: -23px !important;
    overflow: hidden;
    height: 40px;
    width: 40px;
}

.ribbon {
    font-weight: bold;
    font-size: 0.7em;
    color: #fff;
    text-shadow: 1px 4px 6px #008CBA, 0 0 0 #000, 1px 4px 6px #008CBA;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    position: relative;
    padding: 1px 0;
    left: -17px;
    top: 4px;
    width: 60px;
    background-color: #008CBA;

    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.ribbon:before, .ribbon:after {
    content: "";
    border-top: 3px solid #005571;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -3px;
}

.ribbon:before {
    left: 0;
}

.ribbon:after {
    right: 0;
}

.tab-bar-section h1 {
    font-family: 'Inconsolata', sans-serif;
}

p {
    font-size: 0.8em;
}

code {
    font-family: 'Inconsolata', sans-serif;
    font-size: 0.8em;
}

.platinum-medals {
    margin-right: 5px;
}

.platinum-medals:before {
    content: "•";
    font-weight: bold;
    margin-right: 2px;
    color: #E5E4E2;
}

.gold-medals {
    margin-right: 5px;
}

.gold-medals:before {
    content: "•";
    font-weight: bold;
    margin-right: 2px;
    color: gold;
}

.silver-medals {
    margin-right: 5px;
}

.silver-medals:before {
    content: "•";
    font-weight: bold;
    margin-right: 2px;
    color: silver;
}

.bronze-medals {
    margin-right: 5px;
}

.bronze-medals:before {
    content: "•";
    font-weight: bold;
    margin-right: 2px;
    color: #CD7F32;
}

.user-badge .reputation {
    margin-right: 5px;
    font-weight: bold;
}

.user-badge {
    font-size: 0.8em;
    background-color: #e0eaf1;
    padding-left: 0.5em;
    padding-top: 0.4em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.user-badge span {
    display: block;
    float: left;
}

.user-badge .user-profile {
    display: inline-block;
}

.user-badge .user-avatar {
    display: block;
    float: left;
    height: 40px;
    width: 40px;
}

.user-badge .user-extra {
    float: left;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 5px;
    display: block;
}

.user-profile {

}

.user-profile .reputation {

}

.user-profile .user-avatar {
    display: block;
}

.user-profile .section {
    margin-bottom: 1em;
}

.user-profile .section-name {
    font-style: italic;
    color: #a0a0a0;
    font-size: 0.8em;
}

.user-profile .category {
    font-size: 0.8em;
}

.user-profile .entry {
    margin-left: 0.5em;
    font-size: 0.8em;
    color: gray;
}

.user-profile blockquote {
    font-size: 0.8em;
}

.user-activities {
    list-style: none;
}

.user-activities .activity {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #008CBA;
    overflow: hidden;
}

.user-activities .activity:hover {
    width: 8px;
    height: 8px;
    margin-left: -1px;
    margin-top: -1px;
    transition: all 100ms;
}

.tooltip {

}

.user-activity .activity:hover {

}

.voter {
    width: 100%;
    text-align: center;
}

.voter .downvote {
    display: block;
    margin-top: -0.25em;
    color: #2d2d2d;
}

.voter .downvote:hover {
    color: #008CBA;
}

.voter .downvote.active {
    color: #008CBA;
}

.voter .upvote {
    display: block;
    margin-bottom: -0.25em;
    color: #2d2d2d;
}

.voter .upvote:hover {
    color: #008CBA;
}

.voter .upvote.active {
    color: #008CBA;
}

.voter .vote-count {
    display: block;
    color: #2d2d2d;
}

.question-comment {
    background-color: #fff;
    padding: 0.25em;
    border-top: 1px solid #dfdfdf;
}

.question-comment:last-child {
    border-bottom: 1px solid #dfdfdf;
}

.question-comment p {
    margin-bottom: -5px;
}

.add-comment {
    padding-left: 0.25em;
    font-size: 0.8em;
    color: #aaa;
}

.comment-editor textarea {
    margin-bottom: 0.25em;
}

.comment-editor button {
    margin-bottom: 0.25em;
}

.tag-container {

}

.tag-container p {
    color: #333;
    background-color: #e7e7e7;
    font-size: 0.6875rem;
    padding: 0.25rem 0.5rem 0.25rem;
}

.action-link {
    padding-left: 0.25em;
    font-size: 0.8em;
    color: #aaa;
}

.question-textarea {
    height: 16em;
    margin-bottom: 1em;
}

.tag-textarea {
    height: 24em;
    margin-bottom: 1em;
}

.answer-textarea {
    height: 16em;
    margin-bottom: 0.25em;
}

#tag-container .label:hover {
    background-color: #f04124;
}

.medal {
    height: 16px;
    width: 16px;
    background-size: 100%;
    margin-top: -8px;
}

.medal.sample {
    opacity: 0.8;
}

.medal-group {
    display: inline-block;
}

.medal:hover {
    margin-top: -12px;
    margin-bottom: 4px;
    transition: all 0.25s;
}

.medal.bronze {
    background-image: url(../images/bronze-medal.png);
}

.medal.silver {
    background-image: url(../images/silver-medal.png);
}

.medal.gold {
    background-image: url(../images/gold-medal.png);
}

.medal.platinum {
    background-image: url(../images/platinum-medal.png);
}